section{
    display: flex;
}
section > div:nth-of-type(2) > div:first-child > img{
    height: 50px;
    width: 50px;
}
section > div:nth-of-type(2) > div:first-child > img:first-of-type{
    border-bottom: #0C4B64 3px solid;
}
section > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}

button.color-btn{
    background-color: #0C4B64;
    color: #FFFFFF;
}
.terminosycondiciones{
    color: black;
}
.form-check-input:checked {
  background-color: #0C4B64 !important;
  border-color: #0C4B64 !important;
}
.form-check-input:focus {
  box-shadow: none !important;
}

div.signup_page_form{
    width: 5rem;
    border-bottom: 2px solid var(--teal-600) !important;
}