.subtitle_loan_details_page{
    color: var(--teal-700);
    font-weight: 700;
}

p.loan_fields_text{
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}

p.loan_details_text{
    color: var(--teal-700);
    font-weight: 600;
    font-size: 1.16rem;
}

.button_status_size_pending{
    min-width: 5rem;
    max-width: 10rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--aqua-600);
}

.button_status_size_in-review{
    min-width: 5rem;
    max-width: 10rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--yellow-600);
}

.button_status_size_approved{
    min-width: 5rem;
    max-width: 10rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--green-600);
}

.button_status_size_declined{
    min-width: 5rem;
    max-width: 10rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--red-500);
}

button.pending_status_dropdown{
    color: white;
    background-color: var(--aqua-600);
    font-size: 1.1rem;
    font-weight: 500;
}

button.pending_status_dropdown:hover,
button.pending_status_dropdown:focus,
button.pending_status_dropdown:active {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--aqua-700);
}

button.in_review_status_dropdown{
    color: white;
    background-color: var(--yellow-600);
    font-size: 1.1rem;
    font-weight: 500;
}

button.in_review_status_dropdown:hover,
button.in_review_status_dropdown:focus,
button.in_review_status_dropdown:active {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--yellow-700);
}

button.approved_status_dropdown{
    color: white;
    background-color: var(--green-500);
    font-size: 1.1rem;
    font-weight: 500;
}

button.approved_status_dropdown:hover,
button.approved_status_dropdown:focus,
button.approved_status_dropdown:active {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--green-600);
  border: none;
}

button.declined_status_dropdown{
    color: white;
    background-color: var(--red-500);
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
}

button.declined_status_dropdown:hover,
button.declined_status_dropdown:focus,
button.declined_status_dropdown:active {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--red-600);
  border: none;
}

.return_to_home_btn{
    color: var(--aqua-600);
    font-size: 1.3rem;
    font-weight: 600;
}

button.review_document_btn{
    color: var(--aqua-600);
    font-size: 1.1rem;
    font-weight: 600;
}

.documentView{
    width: 100%;
    height: 900px;
    border: none;
}

.files_list{
    font-size: 1.1rem;
    font-weight: 500;
    width: 350px;
}

button.request_document_btn{
    color: var(--teal-700);
    border: 2px solid var(--teal-700);
    font-weight: 500;
    width: 15rem;
    height: 60px;
}

button.request_document_btn:hover,
button.request_document_btn:active{
    color: white;
    background-color: var(--teal-700);
    border: 2px solid var(--teal-700);
    font-weight: 500;
}

button.request_signature_btn{
    color: var(--green-700);
    border: 2px solid var(--green-700);
    font-weight: 500;
    width: 15rem;
    height: 60px;
}

button.request_signature_btn:hover,
button.request_signature_btn:active{
    color: white;
    background-color: var(--green-700);
    border: 2px solid var(--green-700);
    font-weight: 500;
}

button.submit_send_btn{
    background-color: var(--teal-600);
    color: white;
}

button.submit_send_btn:hover,
button.submit_send_btn:active{
    background-color: var(--teal-700);
    color: white;
}

.tag_document{
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    background-color: var(--aqua-600);
}

