.heroe {
  background-image: url('@/assets/images/fondo.webp');
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 8rem;
  color: white;
}

.heroe .content {
  max-width: 650px;
  margin: 3rem auto 0 auto;
}