.loan-card {
  width: 45rem;
  min-height: 30rem;
  margin: 0 auto;
  
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.me-custom {
  margin-right: 100px;
}


.input-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 4px 12px;
  background: #fff;
  font-weight: 600;
}


.custom-range {
  height: 6px;
  background: #e9ecef;
  border-radius: 15px;
}

.custom-range::-webkit-slider-thumb {
  background: #ff5a5f !important; 
  border: 2px solid rgb(0, 0, 0) !important;
}

.custom-range::-moz-range-thumb {
  background: #ff5a5f !important;
}

.custom-range::-ms-thumb {
  background: #ff5a5f;
  border: 2px solid rgb(0, 0, 0) !important;
}

.loan-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  width: 100%;
}
